extends layout

block content
  h2(style="color:green") #{message}
  h1 #{title}
  ul
    each user, i in users
      .card.card-body.mb-3
        h3= user.userName
        img(src='/profile/image/' + user.userName + '.jpg' , alt='')
  button(onClick="window.location='http://localhost:8080/register';") SignUp 
